@font-face {
  font-family: "Matemasie";

  src: url(../fonts/Matemasie/Matemasie-Regular.ttf);
}
@font-face {
  font-family: "Ranchers";
  src: url(../fonts/Ranchers/Ranchers-Regular.ttf);
}

@font-face {
  font-family: "Ojuju";
  src: url(../fonts/Ojuju/Ojuju-VariableFont_wght.ttf);
}

body {
  font-family: Ojuju;
  display: flex;
  margin: 0;
  box-sizing: border-box;
  background-color: #fdf08f;
  color: white;
  height: 100vh;
}

.notLandscape {
  width: 100vw;
  overflow: hidden;
  z-index: 100;
  padding: 0 5%;
  background-image: url("../img/icon_turn_device.svg");
  background-size: 25%;
  background-position-y: 40vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: #fdf08f;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.notLandscape h2 {
  font-size: 1.6rem !important;
  margin: 0;
}

.allScreens {
  position: relative;
  overflow: visible;
  border: 0;
  border-radius: 20px;
}

.start {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  background-image: url(../img/Desierto-portada_con_pepe.jpg);
  border-radius: 20px;
  text-align: center;
  background-size: cover;
  background-position-y:center;
  background-position-x: -28px;
  align-items: center;
  z-index: 15;
}

#loader {
  color: white;
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 16;
}

@keyframes fadeDot {
  0%,
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

#loader span {
  display: inline-block;
  font-size: 2rem;
  animation: fadeDot 2s infinite ease-in;
}

#startGame {
  /* padding:1rem 2rem; */
  margin-top: 20px;
  display: none;
}

.startGame {
  border: unset;
  animation: unset;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0px black;
  width: 70px;
  height: 70px;
  background-image: url(../img/buttons/play.svg);
  transition: transform 0.3s ease-in-out;
}

.startGame:active {
  box-shadow: 0px 0px 1px 1px black;
}
.startGame:hover {
  cursor: pointer;

  transform: scale(1.2);
}

.spinner {
  margin-top: 1rem;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  margin-bottom: 1rem;
  justify-self: center;
  width: 20px;
  height: 20px;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overflowHidden {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 3px 3px 4px 0px black;
  width: 800px;
  height: 480px;
  z-index: 10;
}

.startText {
  font-size: 2em;
  color: black;
  text-shadow: 2px 2px 2px white;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.subText {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  top: -50px;
  z-index: 16;
  flex-direction: column;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px black;
}

.left40 {
  position: relative;
  left: 40px;
}

.contentLine {
  background-color: #811800;
  height: 1px;
  border: none;
  box-shadow: none;
  margin: 10px 0;
}

.fixedContentHead {
  position: relative;
  top: 0;
  background-color: #e9ce92;
  height: 50px;
  width: 350px;
}
.positionAnimation {
  position: relative;
  transition: position 1s ease;
  transition-delay: 2s;
}

.positionAnimation.fixedDelay {
  position: fixed;
}

.playButton {
  width: 60px;
  height: 60px;
}

.playButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.playButton:active {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  position: absolute;
}

h1 {
  font-family: "Matemasie";
  color: white;
  margin: 0;
  line-height: 1.2em;
  text-shadow: 2px 2px 2px black;
  padding: 0;
  position: absolute;
  text-align: center;
  z-index: 22;
}
h2 {
  font-size: 1.2rem;
  align-self: center;
}
h3 {
  margin: 0;
}

h4 {
  margin-bottom: 0;
}

.h1_animation {
  font-size: 5.6rem;
  width: 100%;
  text-align: center;
  top: 10px;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.headline {
  font-size: 4.6rem;
  top: -75px;
}

.h1topPosition {
  top: -120px;
}

#playScreen {
  width: 100%;
  height: 480px;
  display: flex;
  overflow: hidden;
  top: 0;
  /* border: 3px solid white; */
  z-index: 10;
  position: absolute;
  border-radius: 20px;
  /* box-shadow: 3px 3px 4px 0px black; */
  justify-content: center;
  box-sizing: border-box;
}

#gameOverScreen {
  z-index: 20;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  top: 3px;
  left: 3px;
  font-family: "Ojuju";
  border-radius: 20px;
  overflow: visible;
  position: absolute;
}

.backdrop {
  background-color: #70231380;
  backdrop-filter: grayscale(100%) invert(100%);
}

.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
}

.gameOverText h3 {
  font-size: 4.8rem;
  margin: 40px 0;
}

.gameOverText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.pepeGrave {
  width: 80px;
  height: 100px;
  position: absolute;
  right: 10%;
  top: 40%;
}

.winningBG {
  z-index: -1;
  position: absolute;
  width: 0%;
  height: 0%;

  background-image: url("../img/4_enemie_boss_chicken/5_dead/G27.png");
  background-repeat: no-repeat;

  transition: width 2s, height 2s, transform 2s;
}

.winningBG.big {
  width: 200%;
  height: 200%;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  /* bottom:40px; */
  background-size: 560px;
  transition: width 2s, height 2s, transform 2s;
  transform: rotate(360deg);
}

.winningGameOverBG {
  background-color: #81180080;
}

canvas {
  background-color: black;
  z-index: 10;
  position: absolute;
  border-radius: 20px;
  top: 0;
}

.menu {
  z-index: 9;
  width: 100%;
  position: relative;
  bottom: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  /* transition: bottom 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  transition: top 1s cubic-bezier(0.09, 0.99, 0.9, 0.36);
}

.menu.show {
  bottom: -50px; /* Zielposition */
  /* transition: top 1s cubic-bezier(.09,.99,.9,.36); */
}

#playControl {
  z-index: 9;
  width: 100vw;
  position: absolute;
  bottom: -70px;
  left: calc((100vw - 800px) / (-2));
  display: flex;
  /* align-items: end; */
  justify-content: center;
  /* transition: top 1s cubic-bezier(0.09, 0.99, 0.9, 0.36); */
}

.playButtons {
  display: flex;
  position: fixed;
  height: 200px;
  z-index: 20;
  width: 80px;
}

#playButtonsLeft {
  position: fixed;

  left: 0px;
  bottom: 0;
}

#playButtonsRight {
  /* flex-direction: column; */
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.sizeBTN {
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px 0 black;
    background-size:contain;
  background-repeat:no-repeat;
  
}

.sizeBTN:hover, .sizeBTN:active, .sizeBTN:focus{
  width:70px;
  height:70px;
  box-shadow: none;
  margin:0;
}

#rightTop{
  background-image: url("../img/buttons/button-left_white.svg");
      background-size:contain;
  background-repeat:no-repeat;

}

#rightBottom{
 background-image: url("../img/buttons/button-right_white.svg");
     background-size:contain;
  background-repeat:no-repeat;
}

#leftTop{
  background-image: url("../img/buttons/button-D_white.svg");
      background-size:contain;
  background-repeat:no-repeat;
}

#leftBottom{
  background-image: url("../img/buttons/button-up_white.svg");
      background-size:contain;
  background-repeat:no-repeat;
}

#rightTop:hover, #rightTop:active, #rightTop:focus{
  background-image: url("../img/buttons/button-left_green.svg");
}

#rightBottom:hover, #rightBottom:active, #rightBottom:focus{
 background-image: url("../img/buttons/button-right_green.svg");
}

#leftTop:hover, #leftTop:active, #leftTop:focus{
  background-image: url("../img/buttons/button-D_green.svg");
}

#leftBottom:hover, #leftBottom:active, #leftBottom:focus{
  background-image: url("../img/buttons/button-up_green.svg");
}

.alignLeft {
  width: 60px;
  position: relative;
}

.alignRight {
  width: 60px;
  position: relative;
  display: flex;
}

.button {
  padding: 16px 20px 6px 20px;
  box-sizing: border-box;
  margin: 0 5px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  font-family: "Ojuju";
  font-size: 1.2em;
  background-color: white;
  color: rgb(138, 170, 0);
  border-radius: 0 0 10px 10px;
  height: 50px;
  border: 1px solid black;
  position: relative;
}

.button:hover {
  cursor: pointer;
  bottom: -8px;
  transition: bottom 0.2s ease;
}

.button:active {
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}

.Out {
  bottom: -8px;
  font-weight: 700;
}

.icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 6px;
  background-size: contain;
  background-repeat: no-repeat;
}

#story .icon {
  background-image: url("../img/buttons/story_icon_hi.svg");
}

#impressum .icon {
  background-image: url("../img/buttons/impressum_icon_hi.svg");
}

#howto .icon {
  background-image: url("../img/buttons/howtoplay_icon_hi.svg");
}

#story.button:hover .icon {
  background-image: url("../img/buttons/story_icon_lo.svg");
}

#impressum.button:hover .icon {
  background-image: url("../img/buttons/impressum_icon_lo.svg");
}

#howto.button:hover .icon {
  background-image: url("../img/buttons/howtoplay_icon_lo.svg");
}

#closeButton {
  position: absolute;
  top: 100px;
  right: 118px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../img/buttons/close_green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
}
#closeButton:hover {
  background-image: url("../img/buttons/close_grey.svg");
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
#closeButton:active {
  transform: scale(0.85);
  transition: all 0.2s ease-in-out;
  background-image: url("../img/buttons/close_black.svg");
}

.content {
  z-index: 12;
  height: 84%;
  position: relative;
  padding: 0px 30px 0px 0px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: 5px;
  scrollbar-color: #fdf08f #b18f15;
}

p {
  margin-top: 0;
  font-size: small;
}

#buttonContent {
  z-index: 12;
  background-image: url("../img/paper-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 156px 84px 250px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Ojuju";
  font-size: 1.2em;
  line-height: 1.5em;
  color: rgb(112, 10, 10);
  bottom: -100%;
  position: relative;
  transition: bottom 0.5s ease-in-out;
}
#buttonContent.open {
  bottom: 0;
  z-index: 18;
  transition: bottom 0.5s ease-in;
  /* padding: 80px 15vw 64px 22vw; */
}
#buttonContent.close {
  bottom: -100%;
  z-index: 18;
  transition: bottom 0.5s ease-in-out;
}

#contentContainer{
  height:320px;
}

.darkLayer {
  position: absolute;
  border-radius: 20px;
  top: 3px;
  left: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 17;
}
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 50px;
  /* right: -140px; */
  width: 100%;
}

#playButtonsLeft, #playButtonsRight{
        display: none;
    }

#retryPosition {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: right;
}

.replayButton {
  overflow: hidden;
  background-image: url("../img/buttons/replay.svg");
  position: relative;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 8px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  /* margin: 0 5px; */
  top: 160px;
  /* right: -360px; */
  width: 80px;
  height: 80px;
  border-radius: 14px 0 0 14px;
  border: 1px solid black;
  position: relative;
  z-index: 20;
}
.replayButton:hover {
  overflow: unset;
  cursor: pointer;
  /* background-size: 70px; */
  box-shadow: 1px 1px 2px 0px black;
  width: 200px;
  right: 0px;
}

.replayButton:active {
  background-size: 64px;
}

.replayButton.lose::before {
  font-size: 1.1rem;
  font-weight: 600;
  color: #811800;
  content: "¡A LA REVANCHA!";
  position: absolute;
  top: 10px;
  left: 85px;
}

.replayButton.win::before {
  font-size: 1.1rem;
  font-weight: 600;
  color: #811800;
  content: "¿OTRO POLLO?";
  position: absolute;
  top: 10px;
  left: 85px;
}

#sound,
#play,
#gohome {
  display: flex;
  padding: 5px 5px 5px 25px;
  box-sizing: border-box;
  z-index: 9;
  width: 60px;
  border-radius: 0 10px 10px 0;
  background-color: lightgoldenrodyellow;
  margin-bottom: 10px;
  position: relative;
  right: -46px;
}

#sound:hover,
#play:hover,
#gohome:hover {
  margin-right: -8px;
  transition: margin-left 0.2s ease-in-out;
}

.controlButton {
  width: 30px;
  height: 28px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

/* button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
} */

#play.disabled,
#gohome.disabled {
  background-color: lightgrey;
  cursor: unset;
  opacity: 0.5;
  pointer-events: none;
  margin-right: 0;
}

#play.disabled:hover,
#gohome.disabled:hover {
  margin-right: 0;
  transition: none;
}

.soundOFF {
  background-image: url("../img/buttons/sound_OFF.svg");
}

.soundON {
  background-image: url("../img/buttons/sound_ON.svg");
}

.play {
  background-image: url("../img/buttons/pause.svg");
}

.pause {
  background-image: url("../img/buttons/play.svg");
}

.goback {
  background-image: url("../img/buttons/replay.svg");
}

.table {
  display: table;
  margin-top: 8%;
  width: 100%;
  height: 60%;
}
.row {
  display: table-row;
  height: 40px;
}

.cell {
  display: table-cell;
  padding: 8px;
}

.row .cell:last-child {
  vertical-align: middle;
}

.key {
  width: 30px;
}

.rightAlign {
  display: flex;
  align-items: center;
  justify-content: right;
}

.stimmungsbild {
  width: 100%;
  position: fixed;
  top: 45vh;
  left: 10px;
}

.skelett {
  height: 100px;
}

.fondo {
  height: calc((90vh / 2) + (480px / 2) - 150px);
  z-index: 0;
  width: 100vw;
  position: absolute;
  background-color: #811800;
  background-image: url("../img/fondo_cactus.png");
  background-size: 1000px;
  background-position-y: bottom;
  background-repeat: repeat-x;
  outline: 1px solid #fdf08f;
  outline-offset: -1px;
}

small{
  line-height:1;
}

.visibilityHidden {
  visibility: hidden;
}

.displayNone {
  display: none;
}
