@font-face {
    font-family: "Matemasie";
 
    src: url(../fonts/Matemasie/Matemasie-Regular.ttf);

}
@font-face {
    font-family: "Ranchers";
    src: url(../fonts/Ranchers/Ranchers-Regular.ttf);

}

@font-face {
    font-family: "Ojuju";
    src: url(../fonts/Ojuju/Ojuju-VariableFont_wght.ttf);
}
:root{
    --golden-ratio: 1.618;
    --fondo-ratio: 6.845
}

body{
    font-family:Ranchers;
    display:flex;
    margin:0;
    /* padding-top:100px; */
    box-sizing:border-box;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    background-image: linear-gradient(180deg, #811800 680px, #fdf08f 7%);
    background-color: #811800;
    color:white;
    height: 100vh;

}



.start{
    width: 800px;
    height: 480px;
    position: absolute;
    top: 197px;

    background-color: aquamarine;
    background-image: url(../img/Desierto-portada_con_pepe.jpg);
    border-radius: 20px;
    text-align: center;
    background-size: cover;
    background-position-x: -28px;
    z-index:11;
}
.hidden{
    display: none;
}

.startText{

    font-size: 2em;
    color: black;
    text-shadow: 2px 2px 2px white;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.playButton{
    width:60px;
    height:60px;
}
.playButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.playButton:active{
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}
section{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:100vh;
    position: absolute;
}

h1{
    font-family:"Matemasie";
    color:white;

    margin: 0;
    line-height: 1.2em;
    text-shadow: 2px 2px 2px black;
    padding: 0;
    position: absolute;
    text-align: center;
    z-index:20;
}
h3{
    margin-bottom:0;
}

h4{
    margin-bottom:0;
}

.headline{
    font-size: 4em;
    top: 180px;

}

#playScreen{
    background-color: black;
    overflow:hidden;
    width:800px;
    height:480px;   
    top:246px;
    border:3px solid white;
    z-index: 10;
    position: absolute;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 0px black;
}

canvas{
    background-color: black;

    z-index: 10;
    position: absolute;
   
}

.menu{
    z-index:9;
    top:96px;
    height:40px;
    position:relative;
    display:flex;
    justify-content:center;
    
}

.button{
    padding: 16px 20px 6px 20px;
    box-sizing:border-box;
    margin: 0 5px;
    width: 150px;
    text-align: center;
    font-family: "Ojuju";
    font-size: 1.2em;
    background-color: white;
    color: rgb(138, 170, 0);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50px;
    border: 1px solid black;
}


.button:hover{
    cursor: pointer;
    margin-top:8px;
    transition: margin-top 0.2s ease-in-out;
}
.button:active{
    transform: scale(0.98);
    transition: all 0.2s ease-in-out;
}
.Out{
margin-top:8px;
font-weight:700;
}

#closeButton{
    position:absolute;
    top: 60px;
    right: 102px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    background-image:url("../img/buttons/close_green.svg");
    background-size:contain;
    background-repeat:no-repeat;
    z-index:12;
}
#closeButton:hover{
    background-image:url("../img/buttons/close_grey.svg");
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}
#closeButton:active{
    transform: scale(0.85);
    transition: all 0.2s ease-in-out;
    background-image:url("../img/buttons/close_black.svg");
}

.content{
    z-index:12;
       height: 100%;

    padding: 0px 30px 0px 0px;
    overflow:hidden;
    overflow-y:auto;
    scroll-behavior: smooth;
    scrollbar-width:5px;
    scrollbar-color: #fdf08f #b18f15;

}

p{
    margin-top:0;
    font-size: small;
}


#buttonContent{

    z-index:12;
    background-image:url("../img/paper-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 90px 156px 84px 250px;
    box-sizing:border-box;
    height: 100%;
    width:100%;
    font-family:"Ojuju";
    font-size: 1.2em;
    line-height:1.5em;
    color: rgb(112, 10, 10);
    bottom: -100%;
    position:absolute;
    transition: bottom 0.5s cubic-bezier(.77,0,.18,1);

 
   
}
#buttonContent.open{
    bottom:0;
   

}
#buttonContent.close{
    bottom: -100%;
    
}

/* .buttonContent{
    position:absolute;
    bottom: -100%;
} */
 
.control{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
       top:-380px;
    right:-204px;
}


#sound,#play{
    display: flex;
    padding: 5px 5px 5px 25px;
    box-sizing: border-box;
    z-index: 9;
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgoldenrodyellow;
    margin-bottom: 10px
}

#sound:hover,#play:hover{
    
    margin-right:-8px;
    transition: margin-left 0.2s ease-in-out;

}

.controlButton{
    width: 30px;
    height: 28px;
    border:0;
    background-color:transparent;
    cursor:pointer;
    background-size:contain;
    background-repeat: no-repeat;

}

/* button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
} */

#play.disabled{
    background-color: lightgrey;
    cursor: unset;
    opacity: 0.5;
    pointer-events: none;
    margin-right: 0;
}

#play.disabled:hover {
    margin-right: 0;
    transition: none;
}


.soundOFF{
        background-image: url("../img/buttons/sound_OFF.svg");
}

.soundON{
    background-image: url("../img/buttons/sound_ON.svg");
}

.play{
        background-image: url("../img/buttons/pause.svg");
}

.pause{
    background-image: url("../img/buttons/play.svg");
}

.table {
    display: table;
    margin-top: 8%;
    width: 100%;
    height: 60%;
}
.row {
  display: table-row;
  height:40px;
}

.cell {
  display: table-cell;
  padding: 8px;
}

.row .cell:last-child {
  vertical-align: middle;
}

.key{
    width:30px;
}

.rightAlign{
    display:flex;
    align-items:center;
    justify-content:right;
}

.stimmungsbild{
    width:100%;
    position:fixed;
    top:580px;
    left:10px;

}

.skelett{
    height:100px;
}

.fondo{
    height: 680px;
    z-index: 0;
    width:100vw;
    position:absolute;
    background-image:url("../img/fondo_cactus.png");
    background-size:1000px;
    background-position-y:bottom;
    background-repeat:repeat-x;

}